.tech-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 3rem 0;
}

.tech-cols h3 {
  color: var(--white);
}

@media screen and (max-width: 700px) {
  .tech-cols {
    grid-template-columns: 1fr;
  }
}
