.project-card {
  position: relative;
  border-radius: 10px;
  background-color: var(--color-card);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin: 0.5rem;
}

.card-image {
  display: grid;
  place-items: center;
  height: 240px;
}

.card-image img {
  width: 300px;
}

.card-details {
  padding: 20px;
  text-align: center;
}

.card-details h3 {
  color: var(--white);
}

.card-details p {
  padding: 0 1.5rem;
  min-height: 120px;
}

.card-details hr {
  width: 50px;
  height: 3px;
  margin: 10px auto 16px;
  border: 0;
  background: var(--color-main);
}

.card-links {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.card-links a {
  min-width: 80px;
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 1.25rem;
  border: 1px solid var(--color-main);
  background: var(--color-main);
  color: var(--white);
  transition: all 0.55s ease;
}

.card-links a:hover {
  background: transparent;
  border: 1px solid var(--white);
}

@media (max-width: 1200px) {
  .card-details p {
    padding: 0 1.5rem;
  }
}

@media (max-width: 800px) {
  .card-image {
    height: 200px;
  }

  .card-image img {
    width: 240px;
  }
}

@media (max-width: 700px) {
  .card-links a {
    min-width: 80px;
    font-size: 0.875rem;
  }

  .card-details p {
    min-height: none;
  }
}

@media (max-width: 380px) {
  .card-image {
    height: 150px;
  }

  .card-image img {
    width: 160px;
  }

  .card-links {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .card-links a {
    margin-bottom: 1rem;
  }
}
