.cards {
  column-count: 3;
  gap: 1.5rem;
}

@media (max-width: 1200px) {
  .cards {
    column-count: 2;
  }
}

@media (max-width: 650px) {
  .cards {
    column-count: 1;
    padding: 1rem 0;
    gap: 1rem;
  }
}
