.timeline {
  margin: 3rem 0;
}

.mySwiper h3 {
  color: var(--white);
}

.swiper-slide {
  min-height: 180px;
  padding: 0.5rem;
  overflow: hidden;
}

.swiper-pagination-bullet-active {
  background: var(--gradient-text) !important;
}
