.container {
  width: 92%;
  max-width: 1280px;
  margin: auto;
}

.show-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  user-select: none;
  z-index: 999;
}

.btn {
  text-transform: capitalize;
  font-weight: bold;
  background: var(--color-main);
  color: var(--white);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  border: 1px solid var(--color-main);
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.section-header {
  overflow: hidden;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--white);
}

.section-header:before,
.section-header:after {
  background: var(--gradient-text);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  border-radius: 10px;
}

.section-header:before {
  right: 0.5em;
  margin-left: -50%;
}

.section-header:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 0.75rem;
}

.section-divider {
  width: 280px;
  height: 4px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background: var(--gradient-text);
}

.section-desc {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 700px) {
  .section-header {
    font-size: 2rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .section-divider {
    width: 220px;
  }
}
