@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
}

h4 {
  font-size: 1.375rem;
  font-weight: 700;
}

h5 {
  font-size: 1.375rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  color: var(--color-text);
}

section {
  padding: 6em 0;
}

@media screen and (max-width: 700px) {
  section {
    padding: 4em 0;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4,
  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
}
